Vizualizer/Library/
Vizualizer/Temp/
Vizualizer/Assembly-CSharp-Editor-firstpass.csproj
Vizualizer/Assembly-CSharp-firstpass.csproj
Vizualizer/Assembly-CSharp.csproj
Vizualizer/Vizualizer.CSharp.Editor.Plugins.csproj
Vizualizer/Vizualizer.CSharp.Plugins.csproj
Vizualizer/Vizualizer.CSharp.csproj
Vizualizer/Vizualizer.CSharp.Editor.csproj
Vizualizer/Vizualizer.sln
Vizualizer/Assembly-CSharp-Editor.csproj
Vizualizer/Vizualizer.userprefs
